*{
    margin-bottom: 5px;
    color: #323232;
}
.container {
    padding-top: 10px;
}
.img-text {
    font-size: 16px;
    color: #bcbbbb;
}
.title-text {
    font-size: 44px;
}
.subtitle-text {
    font-size: 22px;
}
hr {
    border: 1px solid #a9a9a9;
}
p {
    font-size: 30px;
    color: #bcbbbb;
}
.img-heading {
    font-size: 24px;
}